@charset "UTF-8";

// UTILITIES

@import "vendor/utils/Bootstrap";
@import "vendor/utils/Accordion";
@import "vendor/utils/Buttons";
@import "vendor/utils/react-progress-button";

// PAGES
@import "vendor/pages/all_pages";

// COMPONENTS
@import "vendor/components/Navigation";
@import "vendor/components/Footer";
@import "vendor/components/Home";
@import "vendor/components/Portal";

body {
  background-color: #3c3c3c;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#app {
  height: 100%;
  width: 100%;
}
